{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<div class="divider d-flex align-items-center my-4">
		<p class="text-center fw-bold mx-3 mb-0">INSCRIPTION</p>
	</div>
	<div class="row d-flex justify-content-center align-items-center h-100 mb-5">
		<div class="col-md-12 col-lg-6 col-xl-5">
			<div class="register-wrap">
				{{ form_start(registrationForm) }}
					<div class="form-group">
						{{ form_label(registrationForm.email) }}
						{{ form_widget(registrationForm.email) }}
						{{ form_errors(registrationForm.email) }}
					</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(registrationForm.firstname) }}
							{{ form_widget(registrationForm.firstname) }}
							{{ form_errors(registrationForm.firstname) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(registrationForm.lastname) }}
							{{ form_widget(registrationForm.lastname) }}
							{{ form_errors(registrationForm.lastname) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(registrationForm.password.first) }}
							{{ form_widget(registrationForm.password.first) }}
							{{ form_errors(registrationForm.password.first) }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(registrationForm.password.second) }}
							{{ form_widget(registrationForm.password.second) }}
							{{ form_errors(registrationForm.password.second) }}
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<a href="#!" class="text-danger">Mot de passe oublié ?</a>
				</div>
				<div class="text-center text-lg-start mt-4 pt-2">
					<button type="submit" class="btn btn-primary btn-lg w-100" style="padding-left: 2.5rem; padding-right: 2.5rem;">S'inscrire</button>
					<p class="small fw-bold mt-2 pt-1 mb-0">Avez-vous déjà un compte ? 
					<a href="{{path('app_login')}}" class="text-danger">Se connecter</a></p>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
