{% extends "base.html.twig" %}

{% block body %}
<!-- Page Header Start -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container py-5">
			<h1 class="display-1 text-white animated slideInDown">Contact</h1>
		</div>
	</div>
	<!-- Page Header End -->

<section class="ftco-section mt-5 mb-5">
	<div class="container">
		<div class="contact-wrap">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="contact-content">
						<div class="contact-info">
							<div class="contact-info-icon">
								<i class="fa fa-map fa-2x text-light me-2" aria-hidden="true"></i>
							</div>
							<div class="contact-info-content">
								<h5>Adresse de Gusto Coffee</h5>
								<p>1 rue de la paix, 75001 Paris</p>
							</div>
						</div>
						<div class="contact-info">
							<div class="contact-info-icon">
								<i class="fa fa-phone fa-2x text-light me-2" aria-hidden="true"></i>
							</div>
							<div class="contact-info-content">
								<h5>Applez-nous</h5>
								<p>+33 123 456 789</p>
							</div>
						</div>
						<div class="contact-info">
							<div class="contact-info-icon">
								<i class="fa fa-envelope fa-2x text-light me-2" aria-hidden="true"></i>
							</div>
							<div class="contact-info-content">
								<h5>Email</h5>
								<p>contact@gusto.com</p>
							</div>
						</div>
						<div class="contact-info">
							<div class="contact-info-icon">
								<i class='fas fa-clock fa-2x text-light me-2'></i>
							</div>
							<div class="contact-info-content">
								<h5>Overture de nos bureaux</h5>
								<p>Dimanche - Vendredi (08h - 22h)</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<h2 class="mb-4 text-center">Un renseignement ?</h2>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{{ form_start(form) }}
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									{{ form_label(form.fullName) }}
									{{ form_widget(form.fullName) }}
									{{ form_errors(form.fullName) }}
								</div>
							</div>
							<div class="col-md-6">
							{% if app.user %}
								<div class="form-group">
									{{ form_label(form.email) }}
									{{ form_widget(form.email, {'value': app.user.email, 'attr': {'readonly': true}}) }}
									{{ form_errors(form.email) }}
								</div>
							{% else %}
								<div class="form-group">
									{{ form_label(form.email) }}
									{{ form_widget(form.email) }}
									{{ form_errors(form.email) }}
								</div>
							{% endif %}
						</div>
						</div>
						<div class="form-group">
							{{ form_label(form.subject) }}
							{{ form_widget(form.subject) }}
							{{ form_errors(form.subject) }}
						</div>
						<div class="form-group">
							{{ form_label(form.message) }}
							{{ form_widget(form.message) }}
							{{ form_errors(form.message) }}
						</div>
						<button class="btn btn-primary">Envoyer le message</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
