{% extends "base.html.twig" %}

{% block body %}
	<section class="ftco-section mt-5">
		<div class="container">
			<div class="wrapper">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<h2>Contactez-nous</h2>
						<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem corrupti asperiores accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore expedita illum iusto, aut repellat fuga!</p>
						<ul class="list-unstyled pl-md-5 mb-5">
							<li class="d-flex text-black mb-2">
								<span class="mr-3">
									<i class="fa fa-map text-primary me-2" aria-hidden="true"></i>
								</span>
								34 Street Name, City Name Here,
								<br>
								United States
							</li>
							<li class="d-flex text-black mb-2">
								<span class="mr-3">
									<i class="fa fa-phone text-primary me-2" aria-hidden="true"></i>
								</span>
								+1 (222) 345 6789</li>
							<li class="d-flex text-black">
								<span class="mr-3">
									<i class="fa fa-envelope text-primary me-2" aria-hidden="true"></i>
								</span>
								info@mywebsite.com
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<div class="contact-wrap">
							<h3 class="mb-4 text-center">Get in touch with us</h3>
							<div id="form-message-warning" class="mb-4 w-100 text-center"></div>
							{# <div id="form-message-success" class="mb-4 w-100 text-center text-success">
								Votre message a été envoyé
							</div> #}
							{% for message in app.flashes('success') %}
								<div class="flash-success">
									{{ message }}
								</div>
							{% endfor %}
							{# <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate"> #}
							{{ form_start(form) }}
							{{ form_widget(form) }}
							{{ form_end(form) }}

							{# {{form_start(form)}}
								<div class="row">
									<div class="col-md-12">
										<div class="form-outline mb-3">
											{{form_widget(form.email)}}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-outline mb-3">
											{{form_widget(form.nom)}}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-outline mb-3">
											<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-outline mb-3">
											<{{form_widget(form.message)}}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-outline mb-3">
										<button class="btn btn-primary">Envoyer</button>
										</div>
									</div>
								</div>
							{{form_end(form)}} #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
