{% extends 'base.html.twig' %}

{% block body %}

<div class="container-xxl py-5">
    <div class="text-center mx-auto mb-5 wow fadeInDown" data-wow-delay="0.5s">
        {% if app.request.query.get('category') == 'salon-principal' %}
            <h4 class="section-title">ESPACE DE TRAVAIL</h4>
            <h1 class="display-5 mb-4">Notre salon principal</h1>
            <hr>
        {% else %}
            <h4 class="section-title">ESPACE DE TRAVAIL</h4>
            <h1 class="display-5 mb-4">Nos salons privés</h1>
            <hr>
        {% endif %}
    </div>
    <div class="row wow fadeInUp d-flex align-items-center" data-wow-delay="0.5s">
    {% for workspace in workspaces %}
        {% if app.request.query.get('category') == 'salon-prive' and workspace.categoryWorkspace.title == 'Salon privé' %}
            <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
                <a href="{{path('app_workspace_show', {'id': workspace.id})}}" style="color: var(--dark);">
                    <div id="carouselExample{{workspace.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for imageSave in workspace.imageSaves %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                    <img src="/images/workspace/{{imageSave}}" class="card-img-top d-block w-100" style="height: 300px; border-radius: 20px;" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{workspace.id}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{workspace.id}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="card border-0">
                        <div class="card-body" style="padding: 1em 0;">
                            <h6 style="letter-spacing: 1px;">Le Salon {{workspace.nom}}</h6>
                            <div class="item d-flex justify-content-between">
                                <i class="fa fa-user" aria-hidden="true"> {{workspace.nbrPlace}}</i>
                                <p>Prix {{workspace.price}}€/j</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% elseif app.request.query.get('category') == 'salon-principal' and workspace.categoryWorkspace.title == 'Salon principal' %}
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div id="carouselExample{{workspace.id}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for imageSave in workspace.imageSaves %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <img src="/images/workspace/{{imageSave}}" class="card-img-top d-block w-100" style="height: 450px; border-radius: 20px;" alt="...">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{workspace.id}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{workspace.id}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" style="padding: 70px 20px;">
                <h6 class="display-6">Salon {{workspace.nom}}</h6>
                <p>Réservez votre espace de coworking principal dès maintenant ! <br> Profitez d'un environnement collaboratif et stimulant pour développer vos projets.</p>
                <p>Notre espace de coworking offre un lieu idéal pour travailler, échanger des idées et créer des opportunités. Bénéficiez d'une atmosphère dynamique et d'une communauté inspirante composée de professionnels de divers domaines.</p>
                <p>Nous mettons à votre disposition {{workspace.nbrPlace}} places, vous permettant de collaborer avec d'autres esprits créatifs. Le prix de cet espace est de {{workspace.price}}€ par jour.</p>
                <hr>
                <div class="mb-4 item d-flex justify-content-between align-items-center">
                    <i class="fa fa-user" aria-hidden="true"> {{workspace.nbrPlace}} capacité maximales</i>
                    <p class="m-0">Prix {{workspace.price}}€/j</p>
                </div>
                    {% if workspace.getRemainingPlaces() %}
                        <p>Ne tardez pas, il ne reste que {{workspace.getRemainingPlaces()}} place{{workspace.getRemainingPlaces()|length > 1 ? "s" : ""}} disponible{{workspace.getRemainingPlaces()|length > 1 ? "s" : ""}}.</p>
                    {% else %}
                        <p class="text-danger">Malheureusement, il n'y a plus de place disponible.</p>
                    {% endif %}
                 <a href="{{path('app_workspace_show', {'id': workspace.id})}}" class="btn btn-primary">Réserver</a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}
